.contact {
  margin: 300px 0;
  padding: 40px;
  background: var(--detail-color);
  scroll-margin-top: 220px;
}

.card-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.contact-title {
  font-size: var(--medium-font-size);
  color: var(--title-color);
  margin-bottom: 20px;
}

.social-media {
  width: 100%;
  margin-top: 25px;
  display: flex;
  gap: 20px;
}

.social-media-link {
  padding: 12px;
  background: var(--input-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: var(--text-color);
  border: 1px solid var(--input-color);
  transition: var(--default-transition);
}

.social-media-link:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.social-media-link-icon {
  min-width: 20px;
  font-size: 20px;
}

@media (max-width: 840px) {
  .contact-title {
    font-size: 35px;
  }
}

@media (max-width: 750px) {
  .contact {
    padding: 15px;
    margin: 150px 0;
    scroll-margin-top: var(--default-scroll-margin-top);
  }

  .card-contact {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .contact-title {
    font-size: 30px;
  }
}
